.loader {
    position: relative;

    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    animation: loader 1s infinite;
}

@keyframes loader {
    0% {
        width: 60px;
        height: 60px;
    }
    50% {
        width: 100px;
        height: 100px;
    }
    100% {
        width: 60px;
        height: 60px;
    }
}
